/*************** Large devices (desktops, 992px and up) ***************/
@media (min-width: 992px) {

    /********************************************** Global Styles *********************************************/

    /***************** Global Styles -> Navbar: Default *****************/

    #myNavbar {
        font-size: 1.563rem;
        margin-top: 3%;
    }

    /*************************************************** Home *************************************************/

    /********************** Home -> Header **********************/

    /**** Home -> Header: Text ****/

    #homeheader h1 {
        font-size: 3.438rem;
    }

    #homeheader b {
        font-size: 4.063rem;
    }

    #homeheader p {
        margin-top: 5%;
        font-size: 1.625rem;
    }

    /**** Home -> Header: Elements ****/

    #headerarrow {
        margin-bottom: 55px;
    }

    #headerarrow img {
        max-width: 40px;
        max-height: 40px;
    }

    /********************* Home -> Sections **********************/

    .home-projects {
        height: 100%;
        display: flex;
        align-items: center;
    }

    /**** Home -> Sections: Images *****/

    .home-projects img {
        padding: 0;
        margin: 0;
    }

    #projeto1 img {
        max-height: 550px;

        position: relative;
        right: -60px;
    }

    #projeto2 img {
        max-height: 570px;


        position: relative;
        left: -50px;
        top: 20px;
    }

    #projeto3 img {
        max-height: 600px;
        max-width: 470px;

        position: relative;
        left: -40px;
    }

    /**** Home -> Sections: Text *****/

    .hometext {
        text-align: left;
        margin-top: auto;
        margin-bottom: auto;
        padding-right: 8%;
    }

    .home-projects h2 {
        font-size: 3.125rem;
        margin-bottom: 2%;
    }

    .home-projects h3 {
        font-size: 1.250rem;
        padding-bottom: 0;
    }

    .home-projects h4 {
        font-size: 1.125rem;
        margin-bottom: 6%;
    }

    .home-projects p {
        font-size: 1.250rem;
        margin-bottom: 10%;
        padding: 0;
    }

    /********************* Home -> Contact ***********************/

    /***** Home -> Contact: Text ******/

    #homecontact {
        height: 100%;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    #homecontact h1 {
        font-size: 3.750rem;

        padding-top: 5%;
        padding-bottom: 5%;
    }

    #homecontact h2 {
        padding: 0;
        font-size: 1.750rem;
    }

    /***** Home -> Contact: Icons ******/

    .socialmedia {
        margin-top: 0%;
    }

    /********************************************* Project Pages **********************************************/
    .column-center {
        padding-top: 10%;
        padding-bottom: 10%;
        padding-left: 18%;
        padding-right: 18%;
    }

    .column-center-lg {
        padding-left: 17%;
        padding-right: 17%;
    }

    .no-top {
        padding-top: 0;
    }

    .no-bottom {
        padding-bottom: 0;
    }

    /********************* Project Pages -> Header ***********************/

    .projects-header {
        height: 100%;
    }

    .projects-header img {
        align-self: center;
    }

    #header-text {
        align-self: center;
    }

    /**** Project Pages -> Header: Text ****/

    .projects-header h1,
    p {
        text-align: left;
    }

    .projects-header h1 {
        font-size: 50px;
    }

    .projects-header p {
        font-size: 30px;
    }

    /** Body **/

    .projectbody h1 {
        font-size: 55px;
        padding-bottom: 35px;
    }

    .projectbody h2 {
        font-size: 40px;
    }

    .projectbody h3 {
        font-size: 25px;
        margin-bottom: 20px;
        text-align: center;
    }

    .projectbody p {
        font-size: 18px;
    }

    /********************************************* PorAqui **********************************************/


    #poraquiheader img {
        max-height: 600px;
    }

    /** Research **/
    #bigger-icon img {
        padding-bottom: 20px;
    }

    .pa-research {
        margin-bottom: 5%;
    }

    .pa-research img {
        margin-bottom: 40px;
    }

    .pa-research p {
        text-align: center;
        margin-left: 50px;
        margin-right: 50px;
    }

    /** Development **/

    .pa-dev {
        padding-top: 5%;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;

    }

    .pa-dev h3 {
        font-size: 28px;
        margin-top: 70px;
        margin-bottom: 40px;
        margin-left: 95px;
        text-align: left;
    }

    .pa-dev p {
        margin-left: 95px;
        margin-right: 100px;
        margin-bottom: 50px;
    }

    .pa-icons {
        align-self: center;
        padding-left: 100px;
    }

    .pa-icons img {
        max-width: 100px;
        position: relative;
        left: 30px;
    }

    /** Carousel **/
    .carousel-control-prev-icon {
        left: -5px;
    }

    .carousel-control-next-icon {
        left: 5px;
    }

    .pa-carousel {
        display: flex;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .pa-carousel img {
        max-height: 580px;
    }

    .pa-carousel p {
        font-size: 24px;
        text-align: center;

        margin-top: 30px;
        margin-bottom: 60px;
    }

    .features img {
        max-height: 580px;
        margin-top: 20px;
    }

    .features p {
        font-size: 24px;
        margin-top: 25px;
        font-weight: 400;
    }

    /** Delivery **/
    .pa-delv {
        padding-top: 5%;
    }

    .pa-delv h1 {
        padding-bottom: 0;
    }

    .pa-conc {
        padding-top: 0;
    }

    .pa-conc p {
        margin: 0;
    }

    .pa-conc h1 {
        padding-top: 60px;
        padding-bottom: 60px;

    }

    .contactme {
        padding-bottom: 100px;
        padding-top: 60px;

    }

    .contactme p {
        text-align: center;
    }

    .contactme h4 {
        font-size: 18px;
        margin-top: 100px;
        margin-bottom: 15px;
    }

    .contactme a {
        font-size: 18px;
    }

    #social-o {
        padding-top: 0;
        padding-bottom: 40px;
    }

    /********************************************* HelpNet **********************************************/
    #helpnetheader img {
        max-width: 500px;
        position: relative;
        left: -50px;

    }

    #hn-goal {
        padding-top: 160px;
        padding-bottom: 60px;
    }

    #hn-goal h1 {
        padding-bottom: 50px;
    }

    #hn-goal p {
        text-align: center;
    }

    /** Research **/

    #hn-research h1 {
        padding-bottom: 50px;
        margin-left: 95px;
        text-align: left;
    }

    #hn-research img {
        max-width: 100px;
        padding-top: 80px;
    }

    #doctoricon img {
        max-width: 140px;
        padding-top: 0px;
    }

    /** User Journey **/

    #hn-journey {
        padding-top: 0;
    }

    #hn-journey p {
        text-align: center;
    }

    #hn-journey-lg {
        margin-bottom: 40px;
    }

    /** User Journey **/
    .hn-j-step p {
        margin: 0;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .hn-j-step img {
        padding-top: 30px !important;
    }

    .hn-gif-onboarding {
        margin-top: 120px;
    }

    .hn-gif-interface {
        margin-top: 50px;
    }

    .hn-protoimg p {
        width: 300px;
        text-align: center;
    }

    .hn-protoimg img {
        max-width: 300px;
        position: relative;
        left: -70px;
    }

    #hn-prototype h3 {
        text-align: left;
    }

    /** User Scenarios **/

    #hn-scenarios img {
        max-width: 400px;
        position: relative;
        top: 21%;
        left: 30%;
    }

    #hn-scenarios h3 {
        text-align: left;
        padding-left: 130px;
    }

    #hn-scenarios p {
        text-align: left;
        padding-right: 150px;
        padding-bottom: 50px;
    }

    #hn-scenarios {
        padding-bottom: 90px;
    }

    #hn-c-left {
        position: relative;
        left: -50px;
    }

    #hn-sol h1 {
        padding-bottom: 50px;
    }

    #hn-sol p {
        text-align: center;
    }

    #hn-prototype h2,
    h3 {
        text-align: left;
    }

    #hn-prototype h3 {
        font-size: 23px;
    }

    #hn-prototype p {
        padding-right: 0px;
    }

    #hn-interface {
        padding-top: 100px;
    }

    #hn-conc h1 {
        padding-top: 150px;
        padding-bottom: 0px;
    }

    #hn-conc h3 {
        text-align: center;
        padding-top: 60px;
        padding-bottom: 5px;
    }

    #hn-conc p {
        text-align: center;
    }

    /************ About ***************/
    #about-header {
        padding-left: 18%;
        padding-right: 18%;
    }

    .where-img img {
        max-width: 100%;
    }

    .where-part {
        padding: 0;
        margin: 0;
    }

    .where-part h3 {
        text-align: center;
    }

    .where-part p {

        text-align: center;
    }

    #about-more {
        padding-left: 200px;
        padding-right: 200px;
    }

    .about-social h2 {
        font-size: 25px;
    }

    .about-sm {
        margin-top: 25px;
    }

    /****** Where I've been *******/

    .about-filter {
        display: flex;
        justify-content: center;
    }

    .about-filter a {
        font-size: 21px;
    }

    .about-timeline {
        padding-left: 15%;
        padding-right: 15%;
    }

    /****** More about me *******/

    #about-more {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    #about-more h1 {
        margin-bottom: 5%;
    }

    .about-social {
        display: flex;
        flex-direction: column;
        margin-top: 15%;
    }

    .about-social h2 {
        margin-top: 15%;
    }

    #profile-img {
        max-width: 250px;
        margin-left: auto;
        margin-right: auto;
    }

    .about-body h1 {
        font-size: 55px;
        margin-bottom: 3%;
    }

    .about-body h2 {
        font-size: 25px;
    }

    .about-body p {
        font-size: 18px;
    }

    .about-social h2 {
        font-size: 30px;
    }

    /****************** Aeon Cybernetics ******************/

    #aeon-header img {
        max-width: 525px;
        position: relative;
        left: -40px;
    }

    /**** The Company ****/

    .ac-company img {
        margin-top: 5%;
    }

    .ac-logo {
        margin-top: 8%;
        margin-bottom: 0%;
        padding-bottom: 5%;
    }

    /**** Web Presence ****/

    .ac-webp {
        margin-top: 15%;
    }

    .ac-prototype img {
        max-width: 400px;
        position: relative;
        left: -200px;
        top: 100px;
    }

    .ac-prototype p {
        width: 400px;
        position: relative;
        top: 150px;
        left: -200px;
        text-align: center;
    }

    .aeon-web p {
        margin-bottom: 10%;
    }

    /**** Research ****/
    .ac-research {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .research-module {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .research-module h3 {
        text-align: left;
    }

    /**** Data Analysis ****/

    .ac-data h3 {
        margin-top: 7%;
    }

    .ac-data h4 {
        text-align: left;
    }

    .ac-data img {
        max-width: 225px;
        max-height: 225px;
    }

    .adata-cell {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 5%;

    }

    .ac-data-end {
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .ac-data-end p {
        text-align: center;
    }

    .ac-doubts h3 {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .doubts-module img {
        max-width: 80px;
    }

    .ae-conc {
        margin-top: 0%;
    }


}