/*************** Medium devices (tablets, 768px and up) ***************/

@media (min-width: 768px) {

    /*************************************************** Home *************************************************/

    /********************** Home -> Header **********************/

    header {
        height: 100%;
    }

    /**** Home -> Header: Text ****/

    #homeheader h1 {
        font-size: 3.125rem;
    }

    #homeheader b {
        font-size: 3.438rem;
    }

    #homeheader p {
        font-size: 1.500rem;
    }

    /********************* Home -> Sections **********************/

    .home-projects {
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .home-projects img {
        max-height: 550px;
    }

    /**** Home -> Sections: Text *****/

    .home-projects h2 {
        font-size: 2.500rem;
        padding-top: 5%;
    }

    .home-projects h3 {
        font-size: 1.250rem;
    }

    .home-projects h4 {
        font-size: 1.250rem;
    }

    .home-projects p {
        font-size: 1.250rem;
        padding-top: 3%;
        padding-left: 10%;
        padding-right: 10%;
    }

    /**** Home -> Sections: Elements *****/

    .homebtn {
        font-size: 1.188rem;

        width: 220px;
        height: 55px;

        margin-top: 3%;
    }

    /********************* Home -> Contact ***********************/

    #homecontact {
        height: 80%;
    }

    /***** Home -> Contact: Text ******/

    #homecontact h1 {
        font-size: 3.125rem;
        padding-top: 7%;
        padding-bottom: 7%;
    }

    #homecontact h2 {
        font-size: 1.750rem;
    }

    /***** Home -> Contact: Icons ******/

    #home-socialicons img {
        margin-top: 70%;
        max-width: 40px;
        margin-left: 25px;
        margin-right: 25px;
    }

    /********************************************* Project Pages **********************************************/

    /********************* Project Pages -> Header ***********************/

    .projects-header {
        height: 100%;
    }

    .projects-header img {
        max-height: 650px;
        padding-bottom: 55px;
    }


    /**** Project Pages -> Header: Text ****/

    .projects-header h1 {
        font-size: 3.000rem;
    }

    .projects-header p {
        font-size: 2.188rem;
    }

    /********************* Project Pages -> Body ***********************/

    .column-center {
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 15%;
        padding-bottom: 15%;
    }

    .no-top {
        padding-top: 0;
    }

    .no-bottom {
        padding-bottom: 0;
    }

    #projects-header img {
        max-width: 600px;
    }

    /***** Project Pages -> Body: Text *******/

    .projectbody h1 {
        font-size: 50px;
    }

    .projectbody h2 {
        font-size: 35px;
    }

    .projectbody h3 {
        font-size: 22px;
        margin-bottom: 20px;
    }

    /********************* PorAqui *********************/

    /** Research **/

    #bigger-icon img {
        max-width: 100px;
        margin-bottom: 0px;
        padding-bottom: 13px;
    }

    /** Development **/
    .pa-dev {
        padding-top: 70px;
        padding-bottom: 40px;
    }

    .pa-dev h1 {
        padding-bottom: 0;
    }

    .pa-dev h2 {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .pa-dev p {
        margin-left: 10%;
        margin-right: 10%;
    }

    .pa-icons img {
        max-width: 100px;
        padding-top: 8%;
        padding-bottom: 8%;
    }

    /** Carousel **/

    .pa-carousel {
        display: flex;
        margin-top: 70px;
        margin-bottom: 90px;
    }

    .pa-carousel img {
        max-height: 500px;
        margin-left: 25px;
        margin-right: 25px;
    }

    .pa-carousel p {
        font-size: 20px;
        font-weight: 400;
        margin-top: 30px;
        margin-bottom: 70px;
    }

    .carousel-indicators .active {
        background-color: rgb(45, 45, 45);
    }

    .carousel-indicators li {
        background-color: rgb(45, 45, 45, 0.6);
    }

    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232D2D2D' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
        position: relative;
        left: -35px;
        top: -50px;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 30px;
        height: 30px;
    }

    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232D2D2D' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
        position: relative;
        left: 35px;
        top: -50px;
    }

    .features {
        display: flex;
        justify-content: center;
    }

    .features img {
        max-height: 500px;
        margin-left: 25px;
        margin-right: 25px;
    }


    /** Delivery **/

    .pa-delv h1 {
        margin-top: 0;
        padding-bottom: 10px;
    }

    .pa-delv h3 {
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .pa-delv img {
        padding-top: 35px;
    }

    .pa-delv p {
        margin-left: 10%;
        margin-right: 10%;
    }

    #contact-icons {
        margin-bottom: 5%;
    }

    .contactme {
        padding-bottom: 60px;
    }

    .contactme h4 {
        margin-top: 80px;
        margin-bottom: 15px;
    }

    #social-o {
        padding-top: 0;
        padding-bottom: 25px;
    }

    /********************* HelpNet *********************/
    #hn-goal {
        padding-top: 130px;
        padding-bottom: 30px;
    }

    #hn-goal h1 {
        padding-bottom: 40px;
    }

    /** Research **/

    #doctoricon img {
        max-width: 200px;
    }

    #hn-journey p {
        margin-left: 0;
        margin-right: 0;
    }

    /** User Journey **/
    #hn-journey-carousel {
        padding-top: 0;
    }

    .hn-j-carousel {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    #hn-journey-carousel p {
        font-size: 18px;
        padding-left: 100px;
        padding-right: 100px;
        margin-bottom: 30px;
        margin-top: 10px;
    }

    /** User Scenarios **/

    #hn-scenarios p {
        font-size: 17px;
        font-weight: 300;
        padding-left: 110px;
        padding-right: 110px;
        padding-bottom: 10px;
    }

    #hn-c-left {
        position: relative;
        left: 0px;
        top: 1px;
    }

    #hn-c-right {
        position: relative;
        left: 0px;
        top: 1px;
    }

    /** Solution **/

    #hn-sol {
        padding-top: 0;
    }

    #hn-prototype {
        padding-left: 120px;
        padding-right: 120px;
    }

    .hn-protoimg img {
        padding-top: 30px;
    }

    /********************* Aeon *********************/
    #aeon-header img {
        margin-top: 10%;
        padding-bottom: 10px;
        max-width: 650px;
    }

    #aeon-info p {
        font-size: 15px;
    }

    /********* Visual Identity *********/
    .ac-logo {
        padding-bottom: 8%;
    }

    .ac-logo img {
        max-width: 200px;
    }

    .logo-light {
        margin-top: 2%;
    }

    #ac-logo-dark {
        padding-top: 45px;
        padding-bottom: 45px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .moodboards {
        margin-top: 5%;
    }

    .mood-text {
        margin-top: 5%;
    }

    .ac-endmb p {
        padding-top: 10%;
    }

    /********* Web Presence *********/

    .ac-website h2 {
        margin-left: auto;
        margin-right: auto;
    }

    .aeon-web img {
        margin-top: 10%;
        margin-bottom: 10%;
        max-width: 500px;
    }

    .ac-webp {
        padding-top: 10%;
    }

    /********* Research *********/

    .research-module {
        margin-top: 10%;
        margin-bottom: 10%;

        text-align: left;
    }

    .research-img {
        display: flex;
        justify-content: center;
    }

    .research-img img {
        align-self: center;
        max-width: 80px;
    }

    /********* Data Analysis *********/
    .adata-cell {
        margin-top: 5%;
        padding-bottom: 5%;
    }

    .adata-cell-first {
        margin-top: 15%;
    }

    .adata-cell h4 {
        margin-bottom: 2%;
        margin-top: 30px;
    }

    .adata-cell img {
        margin-bottom: 0;
        max-width: 260px;
        max-height: 240px;
    }

    .ac-doubts h3 {
        margin-top: 10%;
        margin-bottom: 5%;
    }

    .first-module {
        margin-top: 7%;
    }

    .ac-data-end {
        padding-top: 0;
        padding-bottom: 0;
    }


    /********************* About *********************/

    #about-header {
        padding-left: 70px;
        padding-right: 70px;
    }

    #about-more {
        padding-left: 70px;
        padding-right: 70px;
    }

    .where-part {
        padding-left: 150px;
        padding-right: 150px;
    }

    .about-social h2 {
        font-size: 25px;
    }

    .about-sm {
        margin-top: 25px;
    }

    .about-body h1 {
        font-size: 50px;
    }

    .about-body h2 {
        font-size: 22px;
    }

    .about-social h2 {
        font-size: 30px;
    }
}