/*************** Medium devices (tablets, 768px and up) ***************/
@media (min-width: 768px) {

  /************* HOME ***************/
  header {
    height: 800px;
  }

  #homeheader h1 {
    font-size: 50px;
    padding-top: 30%;
    padding-bottom: 3%;
  }

  #homeheader p {
    font-size: 22px;
  }

  .projetos {
    height: 100%;
  }

  .projetos img {
    max-height: 600px;
    padding-top: 10%;
    padding-bottom: 0%;
  }

  #projeto2 img {
    max-height: 650px;
    padding-top: 5%;
  }

  .projetos h2 {
    margin: 0 0 2% 0;
  }

  .projetos p {
    margin: 0 0 5% 0;
    padding-left: 10%;
    padding-right: 10%;
  }

  #homecontact {
    height: 30%;
    padding: 0;
    margin-top: 25%;
    margin-bottom: 20%;
  }

  #homecontact h1 {
    padding: 0;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  #homecontact h2 {
    margin: 0 0 0 0;
    padding-top: 0;
  }

  #socialmedia {
    margin: 0;
    padding-top: 80px;
  }
}

/*************** Large devices (desktops, 992px and up) ***************/
@media (min-width: 992px) {

  /************* HOME ***************/
  a.menu-item {
    font-size: 25px;
  }

  header {
    height: 100%;
  }

  #homeheader h1 {
    font-size: 65px;
    padding: 15% 0 0 0;
  }

  #homeheader p {
    padding: 2% 0 0 0;
  }

  .projrow {
    display: flex;
    align-items: center;
  }

  .projetos {
    display: flex;
    align-items: center;
  }

  .hometext {
    text-align: left;
  }

  .projetos h2 {
    font-size: 60px;
    margin-bottom: 6%;
  }

  .projetos h3 {
    font-size: 22px;
    margin: 0;
    margin-bottom: 3%;
  }

  .projetos h4 {
    font-size: 18px;
    margin-bottom: 5%;
    padding-left: 0;
    padding-top: 0;
  }

  .projetos p {
    font-size: 22px;
    margin-bottom: 10%;
    padding: 0;
  }

  #projeto1 img {
    max-height: 700px;
  }

  #projeto2 img {
    max-height: 750px;
  }

  #projeto3 img {
    max-height: 700px;
    padding-top: 0;
  }

  .homebtn {
    width: 200px;
    height: 50px;
    font-size: 18px;
  }

  #homecontact {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #homecontact h1 {
    padding: 0;
    font-size: 60px;
  }

  #homecontact h2 {
    padding: 0;
    font-size: 28px;
  }

  #socialmedia img {
    max-width: 35px;
  }
}

/*************** Extra large devices (large desktops, 1920px and up) ***************/
@media (min-width: 1920px) {

  /************* HOME ***************/
  #homeheader h1 {
    font-size: 80px;
  }

  #homeheader p {
    font-size: 28px;
    margin-top: 20px;
  }

  #projeto1 img {
    max-height: 900px;
  }

  #projeto2 img {
    max-height: 1100px;
    max-width: 2000px;
  }

  #projeto3 img {
    max-height: 900px;
    max-width: 2000px;
  }

  .projetos h2 {
    font-size: 65px;
  }

  .projetos h3 {
    font-size: 26px;
  }

  .projetos h4 {
    font-size: 22px;
  }

  .projetos p {
    font-size: 24px;
  }

  .homebtn {
    width: 200px;
    height: 60px;
    font-size: 20px;
  }

  #homecontact h1 {
    padding: 0;
    font-size: 80px;
  }

  #homecontact h2 {
    font-size: 36px;
  }

  #socialmedia img {
    max-width: 45px;
  }
}

/*************** Extra large devices (Cinema Display/2k) ***************/
@media (min-width: 2560px) {

  /************* HOME ***************/
  #projeto1 img {
    max-height: 1200px;
  }

  #projeto2 img {
    max-height: 1300px;
  }
}