/*************** Medium devices (tablets, 768px and up) ***************/
@media (min-width: 768px) {

  /************* HOME ***************/
  header {
    height: 800px;
  }

  #homeheader h1 {
    font-size: 50px;
    padding-top: 30%;
    padding-bottom: 3%;
  }

  #homeheader p {
    font-size: 22px;
  }

  #homearrow {
    margin-top: 40%;
  }

  .projetos {
    height: 100%;
  }

  .projetos img {
    max-height: 600px;
    padding-top: 10%;
    padding-bottom: 0%;
  }

  #projeto2 img {
    max-height: 650px;
    padding-top: 5%;
  }

  .projetos h2 {
    margin: 0 0 2% 0;
  }

  .projetos p {
    margin: 0 0 5% 0;
    padding-left: 10%;
    padding-right: 10%;
  }

  #homecontact {
    height: 30%;
    padding-top: 20%;
  }

  #homecontact h1 {
    margin: 6% 0 6% 0;
  }

  #homecontact h2 {
    margin: 0 0 0 0;
    padding-top: 0;
  }

  #socialmedia {
    padding-top: 8%;
  }
}

/*************** Large devices (desktops, 992px and up) ***************/
@media (min-width: 992px) {

  /************* HOME ***************/
  a.menu-item {
    font-size: 25px;
  }

  header {
    height: 100%;
  }

  #homeheader h1 {
    font-size: 65px;
    padding: 15% 0 0 0;
  }

  #homeheader p {
    padding: 2% 0 0 0;
  }

  #homearrow {
    margin-top: 25%;
  }

  .projetos {
    text-align: left;
    padding-right: 10%;
  }

  .projetos h2 {
    font-size: 60px;
    margin: 0;
    padding-bottom: 1%;
  }

  .projetos h3 {
    font-size: 22px;
    margin: 0;
    padding-bottom: 2%;
  }

  .projetos h4 {
    font-size: 18px;
    margin: 0;
    padding-bottom: 2%;
    padding-left: 0;
    padding-top: 0;
  }

  .projetos p {
    font-size: 22px;
    margin-bottom: 5%;
    padding: 0;
  }

  #projeto1 img {
    max-height: 750px;
  }

  .align-vt {
    display: flex;
    align-items: flex-end;
  }
}

/*************** Extra large devices (large desktops, 1200px and up) ***************/
@media (min-width: 1200px) {}