/*************** Mega large devices (Cinema Display/2k) ***************/

@media (min-width: 2560px) {

    /********************************************** Global Styles *********************************************/

    /***************** Global Styles -> Navbar: Default *****************/

    #myNavbar {
        font-size: 1.875rem;
    }

    /*************************************************** Home *************************************************/

    /********************** Home -> Header **********************/

    /**** Home -> Sections: Images *****/

    #projeto1 img {
        max-height: 900px;
        left: -200px;
    }

    #projeto2 img {
        max-height: 1050px;
        max-width: 2000px;
        left: -490px;
        top: 30px;
    }

    #projeto3 img {
        position: relative;
        left: -450px;
        max-height: 2000px;
        max-width: 2000px;
    }

    /**** Home -> Header: Text ****/

    #homeheader h1 {
        font-size: 5.000rem;
    }

    #homeheader b {
        font-size: 5.625rem;
    }

    #homeheader p {
        font-size: 1.875rem;
    }

    /**** Home -> Header: Elements ****/

    #headerarrow {
        margin-bottom: 120px;
    }

    #headerarrow img {
        max-width: 55px;
    }

    /********************************************* Project Pages **********************************************/

    /********************* Project Pages -> Header ***********************/

    .projects-header img {
        max-height: 1000px;
        position: relative;
        left: -200px;
    }

    .projects-header h1 {
        font-size: 70px;
    }

    .projects-header p {
        font-size: 50px;
    }

    /**************** HelpNet ****************/
    #helpnetheader img {
        position: relative;
        left: -300px;

    }

    /****** More about me *******/

    #about-more {
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    #about-more h2 {
        font-size: 30px;
    }

    .about-sm {
        margin-top: 0;
        padding-top: 5%;
    }
}