/********************** Fonts **********************/

@font-face {
  font-family: 'ClearSans';
  font-weight: bold;
  src: url('../fonts/ClearSans-Bold.ttf') format('woff'),
    url('/..fonts/ClearSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'ClearSans';
  font-weight: regular;
  src: url('../fonts/ClearSans-Regular.ttf') format('woff'),
    url('/..fonts/ClearSans-Regular.ttf') format('truetype');
}

/******************* Global Styles ******************/

html,
body {
  height: 100%;
}

/****** Navbar - Default *******/

#myNavbar {
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  color: #5b5b5b;
}

a.menu-item {
  color: #5b5b5b;
}

a.nav-active {
  font-weight: 500;
  color: #2d2d2d;
}

.nav-link:focus,
.nav-link:hover {
  color: #2d2d2d;
}

/****** Navbar - Projects *******/

#projects-navbar a.menu-item {
  color: #fff;
}

#projects-navbar a.nav-active {
  color: #fff;
}

#projects-navbar a:hover,
a:focus {
  opacity: 0.6;
}


/********************** Home ***********************/

/****** Header *******/
header {
  height: 650px;
  display: flex;
  flex-direction: column;
}

#homeheader {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 30px;
}

#homeheader h1 {
  font-family: 'Muli', sans-serif;
  font-size: 30px;
  font-weight: 200;
  color: #2d2d2d;
  line-height: 1.6;
}

#homeheader b {
  font-weight: 600;
  font-size: 36px;
}

#homeheader p {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin-top: 50px;
}

#homeheader a {
  text-decoration: underline;
  color: inherit;
}

#headerarrow {
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 35px;
}

#headerarrow img {
  max-width: 35px;
}

/****** Home Sections *******/

.home-projects {
  color: #fff;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 90px;
}

.home-projects img {
  max-height: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.home-projects h2 {
  font-size: 38px;
  font-family: 'ClearSans', sans-serif;
  font-weight: bold;
  padding-top: 35px;
}

.home-projects h3 {
  font-size: 20px;
  font-family: 'ClearSans', sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255, .65);
  padding-top: 15px;
}

.home-projects h4 {
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  color: rgb(255, 255, 255, .85);
  padding-top: 5px;
}

.home-projects p {
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  padding-top: 20px;

}

.homebtn {
  width: 200px;
  height: 50px;
  border-radius: 15px;
  border-color: #fff;

  background-color: rgba(0, 0, 0, 0);
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  color: #fff;

  margin-top: 20px;
}

.homebtn:hover {
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(255, 255, 255, .2);
}

#projeto1 {
  background-image: linear-gradient(to right, rgb(23, 209, 234, 0.8), rgb(38, 73, 255, 0.8));
}

#projeto2 {
  background-image: linear-gradient(to left, #00205c 24%, #003195 72%, #0040ca 100%);
}

#projeto3 {
  background-image: linear-gradient(to bottom, #42e695, #3ecea7 51%, #3bb8b8);
}

/****** Get in Touch *******/

#homecontact {
  height: 600px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #2d2d2d;
  text-align: center;
}

#homecontact h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  padding-top: 35px;
  padding-bottom: 35px;
}

#homecontact h2 {
  font-size: 22px;
  font-family: 'Muli', sans-serif;
  font-weight: 200;
}

.socialmedia {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 70px;
}

.socialmedia img {
  max-width: 30px;
  margin-left: 18px;
  margin-right: 18px;
}

/****************** Project Pages *******************/

/****** Projects - Header *******/

.projects-header {
  height: 700px;
  display: flex;
  flex-direction: column;

  font-family: 'Muli', sans-serif;
  color: #ffffff;
  text-align: center;
}

#projects-header {
  margin-top: auto;
  margin-bottom: auto;
}

.projects-header h1 {
  font-size: 30px;
  font-weight: 600;
}

.projects-header p {
  font-size: 25px;
  font-weight: 300;
}

.projects-header img {
  max-height: 450px;
  padding-bottom: 30px;
}

#projects-header {
  margin-top: auto;
  margin-bottom: auto;
}

/****** Projects - Body *******/

.projectbody {
  color: #2D2D2D;
  text-align: center;
}

.projectgoal {
  padding-top: 90px;
  padding-bottom: 25%;
}

/**** Text *****/

.projectbody h1 {
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  padding-bottom: 25px;
}

.projectbody h2 {
  font-size: 34px;
  font-family: 'ClearSans', sans-serif;
  font-weight: regular;
  margin-top: 50px;
  margin-bottom: 45px;
}

.projectbody h3 {
  font-size: 22px;
  font-family: 'ClearSans', sans-serif;
  font-weight: regular;
  margin-bottom: 20px;
}

.projectbody h4 {
  font-size: 16px;
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  margin-top: 15%;
}

.projectbody p {
  font-family: 'Muli', sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 2;
}

.projectbody b {
  font-weight: 600;
}

.projectbody a {
  color: #2D2D2D;
  text-decoration: underline;
}

.contactme {
  padding-bottom: 25%;
}

.contactme a {
  color: #7D7D7D;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  text-decoration: none;
}

#social-o {
  margin-top: 15px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#social-o img {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 35px;
}

#arrow {
  margin-left: 10px;
}

/***** PorAqui ******/

#poraquiheader {
  background-image: linear-gradient(to right, rgb(23, 209, 234, 0.8), rgb(38, 73, 255, 0.8));
}

.disclaimer p {
  font-size: 15px;
  margin-top: 10px;
}

.pa-icons img {
  max-width: 80px;
  padding-top: 10%;
  padding-bottom: 10%;
}

/** Research ***/

.pa-research img {
  max-width: 80px;
  margin-bottom: 10%;
  margin-top: 10%;
}

/** Development ***/

.pa-dev {
  padding-top: 15%;
  padding-bottom: 10px;
}

.pa-delv h3 {
  margin-top: 30px;

}

.pa-compare img {
  max-height: 550px;
}

.pa-compare p {
  font-size: 20px;
  margin-bottom: 50px;
  margin-top: 15px;
}

.compare-end p {
  margin-bottom: 20px;
}

.cocoen {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.pa-conc h1 {
  padding-top: 70px;
  padding-bottom: 30px;
}

/***** HelpNet ******/

/** Header **/
#helpnetheader {
  background-image: linear-gradient(to bottom, #42e695, #3ecea7 51%, #3bb8b8);
}

#helpnetheader img {
  margin-top: 0;
}

#hn-goal {
  padding-top: 80px;
  padding-bottom: 0;
}

/** Research **/

#doctoricon img {
  max-width: 100px;
}

#hn-h1-mobile {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0;
}

/** Journey **/

#hn-journey {
  padding-top: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
}

#hn-journey-carousel {
  padding-top: 30px;
}

#hn-journey-carousel img {
  max-width: 250px;
}

#hn-journey-carousel p {
  padding-top: 20px;
  padding-bottom: 40px;
}

#hn-j-right {
  position: relative;
  top: -30px;
}

#hn-j-left {
  position: relative;
  top: -30px;
}

/** Scenarios **/

.carousel-indicators .active {
  background-color: rgb(45, 45, 45);
}

.carousel-indicators li {
  background-color: rgb(45, 45, 45, 0.6);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 15px;
  height: 15px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232D2D2D' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  position: relative;

  top: -300px;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232D2D2D' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  position: relative;
  left: 0px;
  top: -300px;
}


#hn-scenarios h2 {
  margin-top: 20px;
  margin-bottom: 55px;
}

#hn-carousel img {
  max-width: 200px;

}

#hn-carousel h3 {
  font-size: 26px;
  margin-top: 30px;
  margin-bottom: 20px;

}

#hn-carousel p {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 55px;
}

#hn-c-left {
  position: relative;
  left: -5px;
  top: -350px;
}

#hn-c-right {
  position: relative;
  top: -350px;
}

#hn-interface h3 {
  padding-top: 20px;
}

#hn-conc h3 {
  padding-top: 30px;
  padding-bottom: 15px;
}

/*************** Aeon Cybernetics ****************/

/******* Header *******/
#aeon-header {
  background-image: linear-gradient(to left, #00205c 24%, #003195 72%, #0040ca 100%);
}

#aeon-info p {
  font-size: 15px;
  font-style: italic;
}

#ac-company {
  padding-bottom: 40px;
}

#ac-company h2 {
  margin-top: 0px;
}

#ac-company p {
  font-style: italic;
  margin-left: 20px;
  margin-right: 20px;
}

#ac-comp-sub p {
  font-style: normal;
  padding-top: 15px;
  font-size: 16px;
}

#ac-carousel img {
  max-width: 200px;
  max-height: 300px;
  padding-bottom: 30px;
}

#ac-carousel p {
  padding-bottom: 60px;
}

#ac-p-left {
  position: relative;
  left: -15px;
  top: -30px;
}

#ac-p-right {
  position: relative;
  left: 15px;
  top: -30px;
}

#ac-logo img {
  max-width: 270px;
  margin-top: 10px;
  margin-bottom: 30px;
}

#ac-logo-dark img {
  background-color: #0A1625;
  border-radius: 15px;
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 30px;
}

#ac-webid-carousel {
  margin-top: 50px;
  margin-bottom: 60px;
}

#ac-webid-carousel img {
  max-width: 300px;
}

.ac-mood {
  margin-bottom: 30px;
}

#ac-wid-left {
  position: relative;
  left: -40px;
  top: -250px;
}

#ac-wid-right {
  position: relative;
  left: 30px;
  top: -250px;
}


/****************** About *******************/

.about-body {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.about-body h1 {
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  padding-bottom: 25px;
}

.about-body h2 {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.about-body p {
  font-family: 'Muli', sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 2;
}

.about-body b {
  font-weight: 700;
}

.about-body a {
  color: #2D2D2D;
  text-decoration: underline;
}

/********** Header *********/
#about-header {
  padding-left: 30px;
  padding-right: 30px;
}

#about-header h1 {
  padding-top: 50px;
}